@model List<Products>
@{
    ViewData["Title"] = "صفحه ی اصلی";
}

<header>

    <div class="p-5 text-center bg-image" id="header">
        <div class="mask">
            <div class="d-flex justify-content-center align-items-center h-100">
                <div class="text-white">
                    <h1>به<span class="mb-3 badge rounded-pill bg-primary">انلاین شاپ</span>خوش امدید</h1>
                    <h4 class="mb-3">بهترین کیفیت و قیمت</h4>
                    <a asp-controller="Product" asp-action="AllProduct" class="btn btn-outline-light btn-lg" role="button">محصولات</a>
                </div>
            </div>
        </div>
    </div>

</header>

<br>
<br>
<br>
<br>
@if (User.Identity.IsAuthenticated)
{

    <div class="text-center col">
        <a class="btn btn-warning" asp-controller="Product" asp-action="AddOrEdit">افزودن محصول</a>
    </div>
    <div class="container card-deck ms-5">

        <div class="row">

            @{ foreach (var p in Model)
                {
                    <div class="card col-10 col-sm-5 col-md-5 col-lg-3 col-xl-3 text-center text-dark border-danger bg-info m-2 me-5">
                        <!--<img class="card-img-top" src="~/Image/card@(p.Row ).jpg" alt="Card image cap">-->
                        <div class="card-body">
                            <h5 class="card-title ">@p.Name</h5>
                            <br>
                            <p class="card-text text-end">@p.Description</p>
                            <h3 class="card-header">@p.Price $</h3>
                            <a class="btn btn-danger btn-lg m-1">افزودن به سبد خرید</a>
                            <a type="button" asp-controller="Product" asp-action="Detail" asp-route-id="@(p.Id)" class="btn btn-dark btn-sm m-1">جزئیات محصول</a>
                        </div>
                        <div class="card-footer">
                            <small class="text-dark">@p.Category</small>
                        </div>
                    </div>

                }
            }
        </div>
    </div>
}
else
{
    <div class="container card-deck ms-5">

        <div class="row">

            @{ foreach (var p in Model)
                {
                    <div class="card col-10 col-sm-5 col-md-5 col-lg-3 col-xl-3 text-center text-dark border-danger bg-info m-2 me-5">
                        <!--<img class="card-img-top" src="~/Image/card@(p.Row ).jpg" alt="Card image cap">-->
                        <div class="card-body">
                            <h5 class="card-title ">@p.Name</h5>
                            <br>
                            <p class="card-text text-end">@p.Description</p>
                            <h3 class="card-header">@p.Price $</h3>
                            <a class="btn btn-danger btn-lg m-1">افزودن به سبد خرید</a>
                            <a type="button" asp-controller="Product" asp-action="Detail" asp-route-id="@(p.Id)" class="btn btn-dark btn-sm m-1">جزئیات محصول</a>
                        </div>
                        <div class="card-footer">
                            <small class="text-dark">@p.Category</small>
                        </div>
                    </div>

                }
            }
        </div>
    </div>
}